<md-tabs md-selected="yangList.currentSelectedListItemIndex" md-dynamic-height="true">
    <md-tab ng-repeat="(i, n) in yangList.listItemsData">
        <md-tab-label>
            {{yangForm.getNodeName(node.localeLabel, node.label)}}&nbsp;{{ yangList.getListItemName(i, true).name }}
            &nbsp;
            <md-icon md-font-set="material-icons"
                     class="pointer"
                     ng-click="yangList.removeListElem(i,false); $event.stopPropagation();"
                     ng-if="(selectedDatastore.label === yangList.constants.DATA_STORE_CONFIG ||
                    selectedDatastore.label === yangList.constants.DATA_STORE_OPERATIONS) && !yangList.disableAddingListElement">
                    <md-tooltip md-direction="top">{{ 'YANGMAN_LIST_DELETE_ITEM' | translate }}</md-tooltip>
                    remove_circle_outline
            </md-icon>

            <md-icon md-font-set="material-icons"
                     ng-show="node.doubleKeyIndexes.indexOf(i) > -1"
                     ng-if="selectedDatastore.label === yangList.constants.DATA_STORE_CONFIG">
                <md-tooltip md-direction="top">{{ 'YANGMAN_LIST_INDEX_DUPLICATE' | translate }}</md-tooltip>
                error_outline
            </md-icon>

            <md-tooltip md-direction="top" ng-if="yangList.getListItemName(i, false).tooltip.length">
                {{yangList.getListItemName(i, false).tooltip}}
            </md-tooltip>
        </md-tab-label>
    </md-tab>
</md-tabs>
